.d-block
{
    border-radius: 50px;
}
.carousel-item
{
    height:800px;
    width:800px;
}
.container1
{
    background-color: #C38154;
}

.container2
{
    background-color: #8BACAA;
    margin-top: 0px;
    margin-bottom: opx;;
}